footer {
  background: #000000;
  padding: 110px 0 55px;

  p, li {
    font-size: 16px;
    line-height: 26px;
  }

  p, a, h4 {
    color: white;
    &:hover {
      color: white;
    }
  }
  a {
    border-bottom: 1px solid black;
    transition: all 200ms linear;
    &:hover {
      border-bottom: 1px solid #b6883f;
    }
  }

  h4 {
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #BA8B41
  }

  .footer-box {
    padding: 0 10px;
  }

  img {
    &.pzfd-logo {
      margin-top: 20px;
      width: 170px;
    }
  }


  .f-logo {
    img {
      margin: 0 auto 20px;
    }
    h5 {
      font-family: "Georgia",serif;
      color: #BA8B41;
      margin: 0;
      font-size: 23px;
    }
  }
}

.icon-list-contact {
  margin-top: 15px;
  li {
    margin-top: 10px;
    display: flex;
    align-items: center;
    line-height: normal;
    img {
      margin-right: 15px;
    }
  }
}
