#slider {
    background: white;
    padding: 0;
    position: relative;
    .slider-apla {
        position: absolute;
        bottom: 30px;
        left: 30px;
        background: rgba(11,9,65,0.8);
        width: 460px;
        padding: 30px;
        h2, a, p {
            color: white;
        }
        p {
            margin: 0;
        }
        .bttn {
            background: var(--main-color-orange);
            color: white;
        }
        .bttn:hover {
            border-color: var(--main-color-orange);
        }
    }

    .rslides_nav {
        width: 50px;
        height: 50px;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        z-index: 200;
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--main-color-orange);
        &.prev {
            left: 20px
        }
        &.next {
            right: 20px
        }
        i {
            color: white;
            font-size: 32px;
        }
    }


    .rslides_tabs {
        position: absolute;
        bottom: 20px;
        right: 20px;
        z-index: 30;
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        a {
            text-indent: -99999px;
            width: 12px;
            height: 12px;
            display: block;
            border-radius: 50%;
            border: 2px solid white;
            margin-left: 3px;
            transition: all 200ms linear;
        }
        .rslides_here a {
            background: #8b8ea3;
        }
    }
}
.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
    li {
        -webkit-backface-visibility: hidden;
        position: absolute;
        display: none;
        width: 100%;
        left: 0;
        top: 0;
        &:first-child {
            position: relative;
            display: block;
            float: left;
        }
        &:first-child {
            display: block;
        }
    }
    img {
        display: block;
        height: auto;
        float: left;
        width: 100%;
        border: 0;
    }
}

.textSlider {position:relative}
.textSlider .rslides {position: relative;list-style: none;overflow: hidden;width: 100%;padding: 0;margin: 0}
.textSlider .rslides li {-webkit-backface-visibility: hidden;position: absolute;display: none;width: 100%;left: 0;top: 0}
.textSlider .rslides li:first-child {position: relative;display: block;float: left}
.textSlider .rslides img {display: block;height: auto;float: left;width: 100%;border: 0}
.textSlider img, .textSlider a {display:block;margin:0 auto}
.textSlider .rslides_nav {
    width:50px;
    height:50px;
    background:rgba(0,0,0,0.5);
    position:absolute;
    top:0;
    bottom:0;
    margin:auto;
    z-index:90;
    color:white;
    text-align:center;
    padding:5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition:all 100ms linear;
    -moz-transition:all 100ms linear;
    -o-transition:all 100ms linear;
    transition:all 100ms linear
}
.textSlider .rslides_nav:hover {background: rgba(186, 139, 65, 0.84);width:60px}
.textSlider .rslides_nav.next {right:0}
.textSlider .rslides_nav.next i {font-size:27px}
.textSlider .rslides_nav.prev i {font-size:27px}